<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Football Fitness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Football Fitness</h1>
    <br>
    <img src="https://www.barnsleyfc.co.uk/siteassets/image/2018-19-season/pre-season/pre-season-open-day.jpg/Large">
    <br>

   <p1>Day 1: Warm up - jump rope or light jog (5-10 mins), Bouncing ball control (3 x 8), Knee tuck jumps (3 x 8), Line Jumps (3 x 8), Long ball control (8x3) \nDay 2: Warm up - jump rope or light jog (5-10 mins), Jump squats (3 x 8), 1 touch passing (30 seconds x 3), Crossing decision making drill- heading (8 balls each side 3 times), Passing out the back (8 balls x 3)\nDay 3: Warm up: Light job or rope jump (5-10 mins), Single-Leg Romanian Deadlift (3x8), Standing tackle drill (3x8), Standing Long jumps (3x8), Defensive stance  (8 balls each side 3 times)\nDay 4: Rest Day\nDay 5: Warm up- light job or rope jump (5-10 mins) Land Mines (3x8), 30 meter dash (4 times), 1v1 situation - defending (3x8), footwork ladder (3x8)\nDay 6: Warm up: light job or rope jump (5-10 mins), Accurate long passing (3x8), Bouncing ball control (3x8), Kettlebell Swings (3x8), Slide tackle drill (8 balls each side 3 times)\nDay 7: Rest day
 </p1>


</body>
</html>