<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Football Fitness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Football Fitness</h1>
    <br>
    <img src="https://www.barnsleyfc.co.uk/siteassets/image/2018-19-season/pre-season/pre-season-open-day.jpg/Large">
    <br>

   <p1>Day 1: Warm up - jump rope or light jog (5-10 mins), Drop Squats (3 x 8), 2 touch passing (3x30 seconds), Line Jumps (3 x 8), High ball control (8 balls 3 times) \nDay 2: Warm up - jump rope or light jog (5-10 mins), Jump squats (3 x 8), Medicine ball chest passes (3 x 8), Set piece delivery (8 balls each side 3 times), 1v1 - defending (8 balls 3 times)\nDay 3: Warm up: Light job or rope jump (5-10 mins), Single-Leg Romanian Deadlift (3x8), Long range finishing (8 balls each side 3 times), Standing Long jumps (3x8), 5v2 Rondo (3x30 seconds)\nDay 4: Rest Day\nDay 5: Warm up- light job or rope jump (5-10 mins) Land Mines (3x8), 30 meter dash (4 times), Chin-ups (3x8), footwork ladder (3x8)\nDay 6: Warm up: light job or rope jump (5-10 mins), Russian twists (3x8), Weak foot crossing (3x8), Kettlebell Swings (3x8), 1 touch passing (3x30 seconds)\nDay 7: Rest day
 </p1>


</body>
</html>