<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Football Fitness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Football Fitness</h1>
    <br>
    <img src="https://www.barnsleyfc.co.uk/siteassets/image/2018-19-season/pre-season/pre-season-open-day.jpg/Large">
    <br>

   <p1>This is your weekly workout: Day 1: Warm up - jump rope or light jog (5-10 mins), Drop Squats (3 x 8), Knee tuck jumps (3 x 8), Line Jumps (3 x 8), Angled shot stopping (8 balls each side 3 times) \nDay 2: Warm up - jump rope or light jog (5-10 mins), Jump squats (3 x 8), Medicine ball chest passes (3 x 8), Crossing decision making drill (8 balls each side 3 times), Diving reaction time drill (8 balls each side 3 times)\nDay 3: Warm up: Light job or rope jump (5-10 mins), Single-Leg Romanian Deadlift (3x8), TRX Push ups (3x8), Standing Long jumps (3x8), Freekick stopping (8 balls each side 3 times)\nDay 4: Rest Day\nDay 5: Warm up- light job or rope jump (5-10 mins) Land Mines (3x8), 30 meter dash (4 times), Chin-ups (3x8), footwork ladder (3x8)\nDay 6: Warm up: light job or rope jump (5-10 mins), Russian twists (3x8), TRS rows (3x8), Kettlebell Swings (3x8), Long and short distribution (8 balls each side 3 times)\nDay 7: Rest day
 </p1>


</body>
</html>